# Временные файлы сборки и кэш
.gradle/
/build/
/app/build/
.artifacts/
.cxx/
.externalNativeBuild/

# Настройки Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Локальные конфигурации
local.properties

# Логи и захваты экрана/профайлера
/captures/
*.log

# Системные файлы macOS / Windows
.DS_Store
Thumbs.db